<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build" version="15.7.179" targetFramework="net461" />
  <package id="Microsoft.Build.Framework" version="15.7.179" targetFramework="net461" />
  <package id="Microsoft.Build.Utilities.Core" version="15.7.179" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Composition" version="15.8.98" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="15.8.98" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Data.Core" version="9.0.21023" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Editor" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.17" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.1.37" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25415" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="15.0.25415" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="15.0.25415" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="15.0.25405" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.132" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.132" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.7.109" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="4.7.0" targetFramework="net461" developmentDependency="true" />
  <package id="StreamJsonRpc" version="1.3.23" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net461" />
  <package id="System.Composition" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net461" />
</packages>